{% extends "base.html" %}
{% block content %}
<div class="container py-5">        
    <h1>Все посты пользователя {{ user.username }} </h1>
    <h3>Всего постов: {{ count_posts }} </h3>   
    <article>
        {% for p in posts %}
      <ul>
        <li>
          Автор: {{ user.username }}
          <a href="">все посты пользователя</a>
        </li>
        <li>
          Дата публикации: {{ p.pub_date }}
        </li>
      </ul>
      <p>
        {{ p.text }}
      </p>
      {% if post.group %} 
      <a href="{% url 'posts:post_detail' post.post_detail.pk %}">подробная информация </a>
      {% endif %}
      {% endfor %}
    </article>       
    {% if post.group %}   
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}       
    <hr>
    {% include 'posts/includes/paginator.html' %}
  </div>
  {% endblock content %}